<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chattels Shoppe | Account Termination.</title>
</head>
<body>
  <div class="entire-contents">
    <div class="container">
      <h1>Account Termination</h1>
      <hr>
      <p>Hello there, <%= user_name %></p>
      <img src="" alt="sorry-image.">
      <p>Thank you for choosing Chattels Furnitures. We are truly sorry to see you go. It has come to our attention that 
        your account usage has violated the terms and conditions of our company. Contact Us to resolve any missunderstandings.
        <br>
        Thank You.
      </p>
      <p>If you have any questions or need further assistance, please don't hesitate to contact our customer support team at <a>support@chattelsfurnitures.com : <%= FurnitureMail %></a>.</p>
  </div>
</body>
</html>