<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chattels Shoppe | Delivery Sent.</title>
</head>
<body>
  <div class="entire-contents">
    <h1>Hi, <%= UserName%></h1>
    <br>
    <h2>Congatulations, order successfull. Now Delivered.</h2>
    <br>
    <br>
    <p>The order you made for <%= productName%> was delivered successfully to Transmatt Chattel's Shoppe pick up station.
      you can now access your commodity. We would gladly appreciate if you would send us your review.
      <br>
      Thank You for shopping with <b>Chattels Shoppe.</b> You are welcome again.
    </p>
    <br>
    <div class="other-products">
      <h1>Here are other products that may meet your interests.</h1>
      <div class="product">
        <h3>Name</h3>
        <img src="" alt="">
      </div>
    </div>
  </div>
</body>
</html>