<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chattels Shoppe | Oders Department</title>
  </head>
  <body>
    <h1>Hi, <%= userName %></h1>
    <h3>Thank you for your order!</h3>
    <img src="../"/>
    <p>We have received your order and will process it as soon as possible. You will recieve an 
      email confirming the details on you will get your product(s). <br/>
      Have a good day.
    </p>

    <!--Check out some of our other products-->
  </body>
</html>
