<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChattelsFurnitures | Recovery</title>
</head>
<body>
  <div>
    <h1>Account Recovery</h1>
    <hr>
    <h4>Hello there, <%= user_name%></h4>
    <br>
    <p>It has come to our attention that you have forgotten your password. Here is the verification code that you can use to change your current password to a new one. <br>
        Thank You for shopping with us.
        <br>
        Recovery Code: <%= verification_code%>.
    </p>
  </div>
</body>
</html>