<div class="top-bar">
    <h2>{{parent}}&nbsp;><span> {{child}}</span></h2>
  <div class="profile-area">
    <nav>
      <ul>
        <li><i class='bx bx-home-smile' ></i></li>
        <li><i class='bx bx-notification' ></i></li>
        <li><i class='bx bx-cart-alt' ></i></li>
      </ul>
    </nav>
    <div class="profile">
      <div class="name-and-date">
        <h3>Felix Okoth</h3>
        <p>Today, 25th July 2021</p>
      </div>
      <div class="img-container">
        <img src="https://i.pinimg.com/236x/75/b5/2a/75b52a1d81e6a976ad994c5d9a117674.jpg" alt="">
      </div>
    </div>
  </div>
</div>