<app-logout></app-logout>
<div class="body" *ngIf="!sidebarState">
  <div class="sidebar" [class.collapsed]="isSidebarCollapsed">
    <div class="sidebar-header">
      <div class="logo-container">
        <span class="full-logo" *ngIf="!isSidebarCollapsed">Ndagani SF</span>
        <span class="mini-logo" *ngIf="isSidebarCollapsed">NSF</span>
      </div>
      <button class="toggle-btn" (click)="toggleSidebar()">
        <i class='bx bx-chevron-left'></i>
      </button>
    </div>
    <ul class="menu">
      <li class="menu-item" (click)="setIndex(i)" *ngFor="let menu of menuItems, let i = index"
        [routerLink]="menu.route" [class.active]="selectedIndex === i">
        <div class="icon-container">
          <i [ngClass]="menu.icon"></i>
        </div>
        <span class="menu-text" *ngIf="!isSidebarCollapsed">{{menu.value}}</span>
        <div class="tooltip" *ngIf="isSidebarCollapsed">{{menu.value}}</div>
      </li>
      <li class="menu-item" (click)="showLogoutModal()">
        <div class="icon-container">
          <i class="bx bx-log-out"></i>
        </div>
        <span class="menu-text" *ngIf="!isSidebarCollapsed">Logout</span>
        <div class="tooltip">logout</div>
      </li>
    </ul>
  </div>
</div>