<div class="body">
  <div class="sidebar">
      <div class="sidebar-header">
          <i class="fas fa-home"></i>
          <span>Felix</span>
      </div>
      <ul class="menu">
          <li class="menu-item active" routerLink="products"><i class='bx bx-book-content' ></i> Products</li>
          <li class="menu-item" routerLink="cart"><i class='bx bx-cart-alt' ></i> Carts</li>
          <li class="menu-item" routerLink="orders"><i class='bx bx-shopping-bag' ></i> Orders</li>
          <li class="menu-item" routerLink="my-reviews"><i class='bx bxs-star-half'></i> Reviews</li>
          <li class="menu-item" routerLink="my-progresses"><i class='bx bx-purchase-tag-alt'></i> Order Progress</li>
          <li class="menu-item" routerLink="my-messages"><i class='bx bx-conversation'></i> Messages</li>
          <li class="menu-item" routerLink="my-wishlist"><i class='bx bx-bookmarks' ></i> Wishlists</li>
          <li class="menu-item" routerLink="my-profile"><i class='bx bx-user-pin'></i> Profile</li>
          <li class="menu-item" routerLink="/logout"><i class='bx bx-log-out'></i> Logout</li>
      </ul>
  </div>
</div>