<div class="body" [style]="operation ? {'display': 'flex'} : {'display': 'none'}">
  <div class="category-form-container">
    <div class="form-header">
      <h2>{{submitAction || 'Add'}} <span>Category</span></h2>
      <button type="button" class="close-button" aria-label="Close" (click)="closeModal()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <form #categoryForm="ngForm" (ngSubmit)="submitCategory(categoryForm.value)">
      <label for="categoryName">Category Name</label>
      <input
        type="text"
        id="categoryName"
        name="CategoryName"
        #CategoryName="ngModel"
        ngModel
        required
        minlength="3"
        [value]="inputValue"
        placeholder="Enter category name"
      />
      <div *ngIf="CategoryName.invalid && (CategoryName.dirty || CategoryName.touched)" class="error">
        <div class="error" *ngIf="CategoryName.hasError('required')">
          Category name is required.
        </div>
        <div class="error" *ngIf="CategoryName.hasError('minlength')">
          Category name must be at least 3 characters long.
        </div>
      </div>
      
      <button type="submit" [disabled]="categoryForm.invalid">{{submitAction || 'Add'}} Category</button>
    </form>
  </div>
</div>