<div class="top-bar">
  <div class="logo-holder">
  </div>
  <div class="right-items">
    <div class="middle-section">
      <div routerLink="/home" class="text"><p>Home</p></div>
      <div routerLink="/login" class="text"><p>Login</p></div>
      <div routerLink="/signup" class="text"><p>Sign Up</p></div>
      <div href="#" class="text"><p>Products</p></div>
      <div href="#" class="text"><p>Services</p></div>
      <div href="#" class="text"><p>Contact Us</p></div>
    </div>
    <div class="end-section">
      <img src="../../../icons/person_25dp_544820_FILL0_wght400_GRAD0_opsz24.png" alt="search-bar">
      <img src="../../../icons/search_25dp_544820_FILL0_wght400_GRAD0_opsz24.png" alt="profile">
      <img src="../../../icons/local_mall_25dp_544820_FILL0_wght400_GRAD0_opsz24.png" alt="cart-logo">
    </div>
  </div>
</div>