.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: .5rem;
  width: 100%;
  height: 5rem;
  margin: 2vh auto;
}

.filter-group {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.filter-group.input {
  height: 100%;
  width: 34%;
}

.filter-group input[type="text"] {
  height: 50%;
  width: 94%;
  padding: 0 .5rem;
  font-size: .9rem;
  border: 0.15rem solid hsl(46, 45%, 23%);
  outline: none;
}

.filter-group label {
  font-size: .9rem;
  font-weight: 500;
  color: #333;
}

.filter-dropdown {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: 0.1rem solid #ccc;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.filter-dropdown:hover {
  border-color: hsl(46, 45%, 20%);
}

.checkbox-group {
  display: flex;
  gap: 1rem;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.9rem;
}

.clear-filters {
  padding: 0.8rem 1.2rem;
  font-size: .9rem;
  letter-spacing: 2px;
  font-weight: 600;
  background: hsl(46, 45%, 23%);
  color: white;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.clear-filters:hover {
  background: hsl(46, 45%, 20%);
}