<body>
    <section class="collection-section">
        <div class="left-menu">
            <p>On Sale</p>
            <h1>The best from us.</h1>
            <p>Our entire Winter collection.</p>
            <ul>
                <li>New In</li>
                <li>Collections</li>
                <ul>
                    <li>Chairs</li>
                    <li>Office Chairs</li>
                    <li>Tables</li>
                    <li>Rocking Chairs</li>
                    <li>Benches</li>
                </ul>
                <li>Decoration</li>
                <li>Outdoor</li>
                <li>Magazine</li>
                <li>Outlet</li>
            </ul>
        </div>
        
        <div class="image-grid">
            <div class="image-box accessories">Accessories</div>
            <div class="image-box chairs">Chairs & Stools</div>
            <div class="image-box sofas">Sofas & Armchairs</div>
            <div class="image-box tables">Tables</div>
            <div class="image-box lighting">Lighting</div>
            <div class="image-box furnishings">Furnishings</div>
        </div>
    </section>
</body>
