<div class="overlay" [ngStyle]="pqtShow ? {'display': 'flex'} : {'display': 'none'}">
  <div class="product-qt-form-container">
    <div class="form-header">
      <h2>Add <span>Product</span> Quantity</h2>
      <button type="button" class="close-btn" (click)="closeForm()">&times;</button>
    </div>
    
    <div class="furniture-name-display">
      <label>Furniture Name: &nbsp;</label>
      <span class="furniture-value">{{ furnitureName }}</span>
    </div>
    
    <form #productQtForm="ngForm" (ngSubmit)="createPQT(productQtForm.value)">
      <h4>Product Make Time: <span>{{originalCount}} of {{pqtCount}}</span></h4>
      <div class="form-group">
        <label for="quantity">No of Items</label>
        <input
          type="number"
          id="quantity"
          name="Quantity"
          #Quantity="ngModel"
          ngModel
          required
          min="1"
          placeholder="Enter no of items to make"
        />
        <div *ngIf="Quantity.invalid && (Quantity.touched || Quantity.dirty)" class="error">
          <div *ngIf="Quantity.hasError('required')">
            Quantity is required.
          </div>
          <div *ngIf="Quantity.hasError('min')">
            Quantity should be at least 1.
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="price">Price For Item(s)</label>
        <input
          type="number"
          id="price"
          name="Prze"
          #Prize="ngModel"
          ngModel
          min="1"
          placeholder="Enter price for all the items"
          required
        />
        <div *ngIf="Prize.invalid && (Prize.dirty || Prize.touched)" class="error">
          <div *ngIf="Prize.hasError('required')">
            Price is required.
          </div>
          <div *ngIf="Prize.hasError('min')">
            Price should be at least 1.
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="period">Period:</label>
        <input
          type="number"
          id="period"
          name="Period"
          #Period="ngModel"
          ngModel
          required
          min="1"
          placeholder="Enter period in days for making items"
        />
        <div *ngIf="Period.invalid && (Period.dirty || Period.touched)" class="error">
          <div *ngIf="Period.hasError('required')">
            Period is required.
          </div>
          <div *ngIf="Period.hasError('min')">
            Period should be at least 1.
          </div>
        </div>
      </div>
      
      <button type="submit" [disabled]="productQtForm.invalid">Add Product</button>
    </form>
  </div>
</div>