<app-topbar></app-topbar>
<app-notifications></app-notifications>
<div class="body">
  <div class="coloured-body">
    <div class="entire-content">
      <div class="logo-container">
          <div class="image-holder"></div>
      </div>
      <div class="form-container">
        <div class="centered-items">
          <div class="title-area">
            <h3>CONNECT WITH US.</h3>
            <p>login</p>
          </div>

          <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
            <div class="input">
              <div class="image-label">
                <img src="../../../icons/email_53dp_544820.png" alt="">
                <label for="email">email</label>
              </div>
              <div class="input-cont">
                <input type="email" name="Email" email #email="ngModel" ngModel required placeholder="johndoe@gmail.com">
              </div>
              <div class="err" *ngIf="email.invalid && (email.touched || email.dirty)">
                <div class="err" *ngIf="email.hasError('required')">
                  <p>Email field cannot be empty!</p>
                </div>
                <div class="err" *ngIf="email.hasError('email')">
                  <p>Invalid email format!</p>
                </div>
              </div>
            </div>
            <div class="input">
              <div class="image-label">
                <img src="../../../icons/password_53dp_544820.png" alt="">
                <label for="password">password</label>
              </div>
              <div class="input-cont">
                <input type="password" name="Password" #password="ngModel" ngModel minlength="8" maxlength="30" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,30}$" password required placeholder="abcABC@123">
              </div>
              <div class="err" *ngIf="password.invalid && (password.touched || password.dirty)">
                <div class="err" *ngIf="password.hasError('required')">
                  <p>Password field cannot be empty!</p>
                </div>
                <div class="err" *ngIf="password.hasError('minlength')">
                  <p>Password should be at least 8 characters long!</p>
                </div>
                <div class="err" *ngIf="password.hasError('maxlength')">
                  <p>Password should not exceed 30 characters!</p>
                </div>
                <div class="err" *ngIf="password.hasError('pattern')">
                  <p>Password should contain at least one uppercase letter, one lowercase letter, one number, and one special character.</p>
                </div>
              </div>
            </div>
            <div class="button-input">
              <button type="submit" [disabled]="loginForm.invalid">Login</button>
            </div>
            <div class="alternative-option">
              <p class="login-link">Don't have an account? <a routerLink="/signup">Sign Up</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>