<app-notifications></app-notifications>
<div class="container">
  <div class="table-header">
    <h2>Categories</h2>
    <button class="add-button" (click)="displayModal()">
      <i class="fa fa-plus"></i> Add Category
    </button>
  </div>
  <div class="table">
    <div class="row header">
      <div class="cell">Category</div>
      <div class="cell actions">Actions</div>
    </div>
    
    <div class="categories-holder" *ngIf="categories">
      <div class="row" *ngFor="let category of categories, let i = index">
        <div class="cell">
          <i class="fa fa-folder category-icon"></i>
          <span class="category-name">{{category.CategoryName}}</span>
        </div>
        <div class="cell actions">
          <i class="fa fa-edit edit-icon" title="Edit" (click)="displayUpdateModal(category.CategoryName + ', ' + category.CategoryId)"></i>
          <i class="fa fa-trash delete-icon" title="Delete"></i>
        </div>
      </div>
    </div>
    <div class="categories-holder no-categories" *ngIf="!categories">
      <p>No categories currently available. Add categories now! &nbsp; <i class="fa-solid fa-up-long"></i></p>
    </div>
  </div>
</div>