<div class="container">
  <div class="table">
    <div class="row header">
      <div class="cell">Category</div>
      <div class="cell actions">Actions</div>
    </div>

    <div class="row">
      <div class="cell">
        <i class="fa fa-folder category-icon"></i>
        <span class="category-name">Technology</span>
      </div>
      <div class="cell actions">
        <i class="fa fa-edit edit-icon" title="Edit"></i>
        <i class="fa fa-trash delete-icon" title="Delete"></i>
      </div>
    </div>

    <!-- Record 2 -->
    <div class="row">
      <div class="cell">
        <i class="fa fa-folder category-icon"></i>
        <span class="category-name">Health</span>
      </div>
      <div class="cell actions">
        <i class="fa fa-edit edit-icon" title="Edit"></i>
        <i class="fa fa-trash delete-icon" title="Delete"></i>
      </div>
    </div>

    <!-- Record 3 -->
    <div class="row">
      <div class="cell">
        <i class="fa fa-folder category-icon"></i>
        <span class="category-name">Finance</span>
      </div>
      <div class="cell actions">
        <i class="fa fa-edit edit-icon" title="Edit"></i>
        <i class="fa fa-trash delete-icon" title="Delete"></i>
      </div>
    </div>
  </div>
</div>