<div class="container">
  <div class="table-header">
    <h2>Categories</h2>
    <button class="add-button" (click)="displayModal()">
      <i class="fa fa-plus"></i> Add Category
    </button>
  </div>
  <div class="table">
    <div class="row header">
      <div class="cell">Category</div>
      <div class="cell actions">Actions</div>
    </div>
    
    <div class="row">
      <div class="cell">
        <i class="fa fa-folder category-icon"></i>
        <span class="category-name">Technology</span>
      </div>
      <div class="cell actions">
        <i class="fa fa-edit edit-icon" title="Edit" (click)="displayUpdateModal()"></i>
        <i class="fa fa-trash delete-icon" title="Delete"></i>
      </div>
    </div>
  </div>
</div>