<app-notifications></app-notifications>
<div class="top-bar">
  <h2>{{parent}}&nbsp;><span> {{child}}</span></h2>
<div class="profile-area">
  <nav>
    <ul>
      <li><i class='bx bx-home-smile' ></i></li>
      <li><i class='bx bx-notification' ></i></li>
      <li><i class='bx bx-cart-alt' ></i></li>
    </ul>
  </nav>
  <div class="profile">
    <div class="name-and-date">
      <h3>{{user ? user.Fullname.toLocaleUpperCase() : 'Collins Ongolo'.toLocaleUpperCase() }}</h3>
      <p>{{user ? user.Role.toLocaleUpperCase() : 'admin'.toLocaleUpperCase() }}</p>
    </div>
    <div class="img-container">
      <img [src]="user ? user.ProfileImage : '' " [alt]="user ? user.Fullname.split(' ')[0] : 'profile image'">
    </div>
  </div>
</div>
</div>