<div class="stats-container">
  <div class="stat-card blue" routerLink="created-products">
    <i class="fa-solid fa-chair"></i>
    <div class="stat-info">
      <p class="title">Total Products</p>
      <p class="value">{{products.length > 0 ? products.length : 0}}</p>
    </div>
  </div>
  <div class="stat-card purple" routerLink="activated-products">
    <i class='bx bx-list-check'></i>
    <div class="stat-info">
      <p class="title">Activated Products</p>
      <p class="value">{{activeProducts.length > 0 ? activeProducts.length : 0 }}</p>
    </div>
  </div>
  <div class="stat-card violet" routerLink="on-offer-products">
    <i class='bx bxs-offer' ></i>
    <div class="stat-info">
      <p class="title">Products On Offer</p>
      <p class="value">{{offerProducts.length > 0 ? offerProducts.length : 0 }}</p>
    </div>
  </div>
  <div class="stat-card green" routerLink="on-flush-products">
    <i class='bx bxs-flag' ></i>
    <div class="stat-info">
      <p class="title">Products On Flush Sale</p>
      <p class="value">{{flushSaleProducts.length > 0 ? flushSaleProducts.length : 0}}</p>
    </div>
  </div>
</div>

<div class="top-bar-u">
  <button class="button-u new-product-u">
    <i class="fas fa-plus-circle"></i> New Product
  </button>
</div>

<router-outlet></router-outlet>
